.market-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  border-radius: 15px;
  height: 330px;
  position: relative;
  margin-top: 20px;
}
.number-card {
  position: absolute;
  right: -5px;
  color: white;
  background-color: var(--neon-pink);
  top: -10px;
  width: 40px;
  border-radius: 5px;
  margin: 0px;
  display: grid;
  place-items: center;
  height: 25px;
}
.market-card img {
  height: 230px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.layer1 {
  font-size: 14px;
  color: black;
  background-color: var(--neon-green);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-weight: 500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 15px 10px -15px #111;
}
.layer2 {
  transform: translateY(-10px);
  z-index: -1;
  height: 45px;
  color: black;
  background-color: var(--neon-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.layer2 h3 {
  font-size: 14px;
  font-weight: 500;
}
