.feed {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
}
.category-feed h2 {
  background-color: #2d2d2d;
  color: white;
  font-size: 16px;
  border-radius: 100vh;
  padding: 5px 20px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.category-feed h2:hover {
  background-color: black;
  border-color: white;
}
.feed-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .feed-grid {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .feed-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 800px) {
  .feed-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .feed-grid {
    grid-template-columns: 1fr;
  }
}
